<!-- Register with background-->
<style>
	body{
		font-family: "Comic Sans MS"
	}
	#email{
		width: 60em;
		height: 50px;
	}
	#mainbutton{
		height: 50px;
		color: white;
	}

	.thumbnail{
		min-height: 325px;
	}
	
	.jumbotron{
		background-image: url(<%= asset_path 'main.jpg' %>);
		color: white;
		background-size: 100%;
		height: 500px;
		width:100%;
	}
	.container-fluid{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	#mainbrand{
		color:rgb(246, 173, 16);
		font-size: 10em;
		margin-top:50px;
		 text-shadow: 2px 2px 2px #000, 3px 3px 5px rgb(2, 2, 19);
	}
	#tagline{
		color:rgb(246, 173, 16);
		font-size: 3em;
		text-shadow: 2px 2px rgb(2, 2, 19);
	}

</style>
	
<div class="jumbotron container">
  <h1 class="col-md-10 col-md-offset-2" style="" id="mainbrand">Hungree</h1>
  <p class="col-md-8 col-md-offset-2" id="tagline">An intelligent grocery list from your healthy meal plan in your budget.</p>
  
  	<%= form_tag campaign_path, method: "post" , class: "col-md-10 col-md-offset-2 campaign-form input-group " do %>
  		<%=  text_field_tag :email, nil, placeholder: "awesome@hungree.com" , class: "campaign-form form-control", id: 'email' %>
  		<%= submit_tag "  I want this !!!  ", class: "input-group-addon btn btn-primary btn-group-lg" , id: 'mainbutton'%>
	<% end %>
</div>
<!-- How it works ?-->
<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail text-center">
      <h3>Step 1</h3>
      <br>
      <img src="<%= asset_path 'budget.jpg' %>" >
      <br>
      <div class="caption">  
        <h3> Pick a Budget</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail text-center">
      <h3>Step 2</h3>
      <br>
      <img src="<%= asset_path 'HowmanyEating.jpg' %>" >
      <br>
      <div class="caption">
        <h3> Size of your family</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail text-center">
      <h3>Step 3</h3>
      <br>
      <img src="<%= asset_path 'Selectfood.jpg' %>">
      <br>
      <div class="caption">
        <h3> Pick your meals </h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail text-center">
      <h3>Step 4</h3>
      <br>
      <img src="<%= asset_path 'grocerylist.jpg' %>" >
      <br>
      <div class="caption">
        <h3> Grocery list</h3>
      </div>
    </div>
  </div>

</div>
<!-- Explanation -->
<div class="panel panel-default">
  <div class="panel-heading">Pick a Budget: </div>
  <div class="panel-body">
    Setting up budget and alergies comes here !
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Select Meals :</div>
  <div class="panel-body">
    Picking meals comes here
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Confirm Meal plan: </div>
  <div class="panel-body">
    Confirmed meal plan comes here
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Your grocery list:</div>
  <div class="panel-body">
    Grocery list comes here
  </div>
</div>
</div>